{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="jumbotron">
        <h4>Welcome Back</h4>
        <form action="/login" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
    <p>
        Don't have an account?
        <a href="/register" class="btn btn-link" role="button">Create an account →</a>
    </p>
    </div>
{% endblock %}
